<a href="https://colab.research.google.com/github/rkzarathos/cirrhosis_outcome_prediction/blob/main/Medical_Transcription_LLM_Solution_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import json
import datetime
import sqlite3

In [ ]:
from openai import OpenAI

In [ ]:
client = OpenAI(
api_key="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",
)

In [ ]:
main_file = pd.read_csv("conversations_translated 4.csv")
test = pd.read_csv('test 2.csv')
submission = pd.read_csv('pushkar 12_13.csv')
submission=submission.rename(columns={'Text':'Value'})

In [ ]:
def llm_function(conversations):
  i=0
  start=datetime.datetime.now()
  failed=[]

  for index, row in conversations[0:].iterrows():
      print(index)
      retry = 0
      time_now = datetime.datetime.now()
      conversation = row['Conversation']
      while retry < 3:
  #         if (retry>1 and retryid==1)
          try:
              print('retry',retry)
              response1 = client.chat.completions.create(
                          model="gpt-3.5-turbo",
                          messages=[
                            {"role": "system", "content": "You are a medical conversation interpreter."},
                            {"role": "user", "content":
                             """
                            D: Good morning Tommie, how can I help you today?
                            P: Good morning, Doctor. I've been experiencing some strange symptoms lately.
                            D: Can you tell me what kind of symptoms you're experiencing?
                            P: Sure, I've been feeling dizzy and unsteady on my feet, and I've also been having headaches.
                            D: Interesting. Based on your age and the symptoms you're experiencing, it could be hypertension.
                            P: Hypertension? What's that?
                            D: Hypertension, also known as high blood pressure, is when the force of blood against your arteries is consistently too high.
                            P: Oh, I see. And what can I do about it?
                            D: To manage hypertension, I recommend that you practice meditation, take salt baths, reduce stress, and make sure you're getting proper sleep. In addition, it's important that you monitor your blood pressure regularly.
                            P: Okay, I can do that. Do I need any medication?
                            D: At this point, it doesn't seem like medication is necessary. But if your symptoms worsen or don't improve with the precautions I've suggested, we may need to reconsider.
                            P: Alright, I'll give it a try and let you know how it goes. Thank you, Doctor.
                            D: You're welcome, Tommie. Don't hesitate to contact me if you have any further questions or concerns.
                            """},
                            {"role": "assistant", "content":
                             """
                            {
                                "name":"Tommie",
                                "age":"Not mentioned",
                                "condition":"Hypertension",
                                "symptoms":"feeling dizzy, unsteady on feet, headaches",
                                "precautions":"practice meditation, take salt baths, reduce stress and proper sleep",
                                "prescription":"Not needed"
                            }
                            """},
                            {"role": "user", "content": f">>>>>\n{conversation}\n<<<<<"},
                            {"role": "user", "content": "Instruction: Extract a JSON dictionary only using the content provided only.\n"
                            """
                            <output>
                                <string name="name" description="What is the name of the patient or person examined here? Return only the name mentioned. Return 'Not Mentioned' if not found in document" />
                                <string name="age" description="What is the patient's exact age in years? Output should be an integer. Return 'Not mentioned' if not mentioned in document." />
                                <string name="condition" description="What is the patient's condition or diagnosis or disease? Return 'Not mentioned' if not mentioned in document." />
                                <string name="symptoms" description="What symptoms is the patient experiencing? Return a comma seperated string. Return 'Not mentioned' if not in document." />
                                <string name="precautions" description="What precautions did the doctor advise? Return a comma seperated string. Return 'Not mentioned' if not mentioned in document." />
                                <string name="prescription" description="What drug did the doctor prescribe? Return 'Not mentioned' if not mentioned in document." />
                            </output>"""}
                                  ],
                          temperature=0,
                          max_tokens = 2000
                                    )
          except:
              retry=retry+1
  #             retryid=1
              if retry < 4:
                  continue
              else:
                  failed.append(row['Transcript'])
          if retry==0:
              break

      try:
          data_dict = json.loads(response1.choices[0].message.content)
          df = pd.DataFrame(data_dict, index=[0]).transpose()
          df.reset_index(inplace=True)
          df.columns = ['Attribute', 'Value']
          df['ID']=row['Transcript']
  #         print('df_try')
          count=df.count().Attribute
  #         print('count',count)
          if count==6:
  #             print('into count loop')
              if i==0:
                  final_df=df
  #                 print('final_df created')
                  i=1
              else:
                  final_df=pd.concat([final_df, df], axis=0)
                  final_df.reset_index(drop=True, inplace=True)
          else:
              failed.append(row['Transcript'])
      except:
          failed.append(row['Transcript'])
  end = datetime.datetime.now()
  total_time = end-start
  return final_df

In [ ]:
def transcripts_failed(submission,test,main_file):
  conn = sqlite3.connect(':memory:')
  submission.to_sql('submission', conn, index=False, if_exists='replace')
  test.to_sql('test', conn, index=False, if_exists='replace')
  main_file.to_sql('main_file', conn, index=False, if_exists='replace')
  failed_transcripts = pd.read_sql_query("""select a.Transcript, a.Conversation,
                     sum(No_output) num_of_no_outputs
                     from main_file a
                     left join (select a.Transcript, b.*,
                     case when (trim(lower(b.Value)) like "%unknown%") or (trim(lower(b.Value)) like "%not mentioned%") or (trim(lower(b.Value)) like "%none%") then 1 else 0 end as No_output
                     from test a
                     left join submission b on a.Id = b.Id) b
                     on a.Transcript = b.Transcript
                     group by 1
                     having num_of_no_outputs >= 3
                     """, conn)
  return failed_transcripts

In [ ]:
def llm_structured_output(final,test,submission):
    final.to_csv('re_run_pushakar_v2.csv')
    merged_df = pd.merge(test, final, how='inner', left_on=['Transcript','Attribute'],right_on=['ID','Attribute'])
    final_merged_df_both_values = pd.merge(submission, merged_df, how='left', left_on=['Id'],right_on=['Id'])
    final_merged_df_both_values['Value_x'] = final_merged_df_both_values['Value_x'].replace(['<unknown>', 'Not mentioned', 'Not Mentioned','not mentioned','not Mentioned','None mentioned'], pd.NA)
    final_merged_df_both_values['Value_y'] = final_merged_df_both_values['Value_y'].replace(['<unknown>', 'Not mentioned', 'Not Mentioned','not mentioned','None mentioned'], pd.NA)
    final_merged_df_both_values['Value_updated'] = final_merged_df_both_values['Value_x'].fillna(final_merged_df_both_values['Value_y'])
    final_merged_df_both_values['Value_updated'].fillna(final_merged_df_both_values['Value_x'], inplace=True)
    final_merged_df = final_merged_df_both_values[['Id','Value_updated']]
    final_merged_df = final_merged_df.rename(columns={'Value_updated': 'Value'})
    final_merged_df['Value'] = final_merged_df['Value'].fillna("<unknown>")
    return final_merged_df,final_merged_df_both_values

In [ ]:
failed_transcripts1 = transcripts_failed(submission,test,main_file)

In [ ]:
failed_transcripts1

,Transcript,Conversation,num_of_no_outputs
0,40,D: Good mornin' Mr. Cole. How can I help you t...,3
1,42,D: Good morning Mr. Vega. How can I help you t...,4
2,47,"During the visit, I asked Ashlee Mcphail about...",4
3,125,Durin,6
4,127,visit listened mr cusumanos symtoms conducted ...,3
...,...,...,...
158,4731,"During the visit, I listened to the patient's ...",4
159,4735,"During the visit, I, the doctor, listened to F...",4
160,4819,"During the visit, I assessed the patient's sym...",3
161,4820,P: Is there anything else I should be doing?\n...,4
162,4858,good morning Mr. Beamon understand diagnosed h...,3

In [ ]:
failed_transcripts1 = transcripts_failed(submission,test,main_file)
llm1 = llm_function(failed_transcripts1)
final1,final_merged_df_both_values=llm_structured_output(llm1,test,submission)

0
retry 0
1
retry 0
2
retry 0
3
retry 0
4
retry 0
5
retry 0
6
retry 0
7
retry 0
8
retry 0
9
retry 0
10
retry 0
11
retry 0
12
retry 0
13
retry 0
14
retry 0
15
retry 0
16
retry 0
17
retry 0
18
retry 0
19
retry 0
20
retry 0
21
retry 0
22
retry 0
23
retry 0
24
retry 0
25
retry 0
26
retry 0
27
retry 0
28
retry 0
29
retry 0
30
retry 0
31
retry 0
32
retry 0
33
retry 0
34
retry 0
35
retry 0
36
retry 0
37
retry 0
38
retry 0
39
retry 0
40
retry 0
41
retry 0
42
retry 0
43
retry 0
44
retry 0
45
retry 0
46
retry 0
47
retry 0
48
retry 0
49
retry 0
50
retry 0
51
retry 0
52
retry 0
53
retry 0
54
retry 0
55
retry 0
56
retry 0
57
retry 0
58
retry 0
59
retry 0
60
retry 0
61
retry 0
62
retry 0
63
retry 0
64
retry 0
65
retry 0
66
retry 0
67
retry 0
68
retry 0
69
retry 0
70
retry 0
71
retry 0
72
retry 0
73
retry 0
74
retry 0
75
retry 0
76
retry 0
77
retry 0
78
retry 0
79
retry 0
80
retry 0
81
retry 0
82
retry 0
83
retry 0
84
retry 0
85
retry 0
86
retry 0
87
retry 0
88
retry 0
89
retry 0
90
retry 0
91
retry 0
92
retry 0
93
retry 0
94
retry 0
95
retry 0
96
retry 0
97
retry 0
98
retry 0
99
retry 0
100
retry 0
101
retry 0
102
retry 0
103
retry 0
104
retry 0
105
retry 0
106
retry 0
107
retry 0
108
retry 0
109
retry 0
110
retry 0
111
retry 0
112
retry 0
113
retry 0
114
retry 0
115
retry 0
116
retry 0
117
retry 0
118
retry 0
119
retry 0
120
retry 0
121
retry 0
122
retry 0
123
retry 0
124
retry 0
125
retry 0
126
retry 0
127
retry 0
128
retry 0
129
retry 0
130
retry 0
131
retry 0
132
retry 0
133
retry 0
134
retry 0
135
retry 0
136
retry 0
137
retry 0
138
retry 0
139
retry 0
140
retry 0
141
retry 0
142
retry 0
143
retry 0
144
retry 0
145
retry 0
146
retry 0
147
retry 0
148
retry 0
149
retry 0
150
retry 0
151
retry 0
152
retry 0
153
retry 0
154
retry 0
155
retry 0
156
retry 0
157
retry 0
158
retry 0
159
retry 0
160
retry 0
161
retry 0
162
retry 0

In [ ]:
final1.to_csv("Dinesh_output_11-12.csv", index=False)

In [ ]:
failed_transcripts1

,Transcript,Conversation,num_of_no_outputs
0,40,D: Good mornin' Mr. Cole. How can I help you t...,3
1,42,D: Good morning Mr. Vega. How can I help you t...,4
2,47,"During the visit, I asked Ashlee Mcphail about...",4
3,125,Durin,6
4,127,visit listened mr cusumanos symtoms conducted ...,3
...,...,...,...
158,4731,"During the visit, I listened to the patient's ...",4
159,4735,"During the visit, I, the doctor, listened to F...",4
160,4819,"During the visit, I assessed the patient's sym...",3
161,4820,P: Is there anything else I should be doing?\n...,4
162,4858,good morning Mr. Beamon understand diagnosed h...,3

In [ ]:
final_merged_df_both_values[final_merged_df_both_values['Transcript']==40]

,Id,Value_x,Transcript,Attribute,Value_y,ID,Value_updated
1794,58b8cc5d-b7b0-42f2-bf95-0d7ec613abe4,Cole,40.0,name,Mr. Cole,40.0,Cole
1795,9e837764-ad55-4144-8a6b-3e9482242400,<NA>,40.0,age,<NA>,40.0,<NA>
1796,b5a5ff0c-4de5-4370-8325-7931bd5558a8,drug reaction,40.0,condition,Drug reaction,40.0,drug reaction
1797,5c2429fa-bf7b-49c4-a1b0-25ea591b4463,"skin rash, burning sensation during urination",40.0,symptoms,"skin rash, burning sensation during urination",40.0,"skin rash, burning sensation during urination"
1798,a35d265a-a68f-4a44-ac6c-740c760e3f1a,<NA>,40.0,precautions,None mentioned,40.0,None mentioned
1799,44d86bbf-cc54-4720-8905-9d42b703fc9c,<NA>,40.0,prescription,<NA>,40.0,<NA>

In [ ]:
final_merged_df_both_values

,Id,Value_x,Transcript,Attribute,Value_y,ID,Value_updated
0,587d0feb-5780-43e1-9595-e19d4b31dc07,Don Hicks,NaN,NaN,NaN,NaN,Don Hicks
1,263e8884-e8ba-4266-bb0c-85271419a0b3,81,NaN,NaN,NaN,NaN,81
2,74c68eca-61b2-49d0-9b1c-0f6f886b04ff,fungal infection,NaN,NaN,NaN,NaN,fungal infection
3,8572ab5d-f20a-4de5-ab44-f42b07e45a00,"dischromic patches, nodal skin eruptions, skin...",NaN,NaN,NaN,NaN,"dischromic patches, nodal skin eruptions, skin..."
4,f5c92075-ef05-4fbf-a7a0-aa86c586ff02,"bathing twice a day, using detol or neem in th...",NaN,NaN,NaN,NaN,"bathing twice a day, using detol or neem in th..."
...,...,...,...,...,...,...,...
12001,89f03c30-3b65-4241-9157-9362f56381e6,<unknown>,NaN,NaN,NaN,NaN,<unknown>
12002,25bf4a39-edd7-40d5-8c55-9ae5a6fdee08,peptic ulcer disease,NaN,NaN,NaN,NaN,peptic ulcer disease
12003,774a32b8-237d-42f1-9907-d14d27d43858,"indigestion, internal itching, passage of gases",NaN,NaN,NaN,NaN,"indigestion, internal itching, passage of gases"
12004,9fe29c8e-7189-4c47-ab27-c01d61cf39fc,"avoid fatty and spicy food, consume probiotic ...",NaN,NaN,NaN,NaN,"avoid fatty and spicy food, consume probiotic ..."
12005,ca6e4182-916f-473e-8d37-2395346afc7c,<unknown>,NaN,NaN,NaN,NaN,<unknown>